@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* full body css apply */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #DBE4EE;
}

/* <!-- navbar with services --> */
.navbar {
    font-family: "Roboto Slab", serif;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #DBE4EE;

    height: 54px;
}

.logo {
    width: 100%;
    position: absolute;
    top: 8px;
    z-index: 100;
    left: 11px;
}

#navbarSupportedContent {

    justify-content: center;
}

.nav-item {
    padding-left: 59px;
}

.dropdown-menu p {
    padding-left: 8px;
    font-weight: bold;

    margin-bottom: 6px;
}

.dropdown-menu a {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.AboutUs-menu {
    width: max-content;
    border-radius: 11px;
    padding: 7px 10px;
    height: fit-content;
}

/* <!-- navbar with services END--> */

/* <!-- search and profile icon --> */
.profile-icons {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    align-content: center;
    font-size: 23px;

}

.fa:hover {
    cursor: pointer;
    color: #464D77;
}

.fas:hover {
    cursor: pointer;
    color: #464D77;
}

/* <!-- slider background  START--> */

#carouselExampleInterval {
    border-radius: 17px;
}

.navbar-nav {
    font-size: 17px;


}

.nav-link {
    color: black;
    font-weight: bold;

}

/* <!-- slider background END --> */
/* <!-- about section START --> */
.about-mdt {
    text-align: center;
    height: auto;
}

.about-mdt>div h3 {
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}

/* <!-- about section END --> */

/* <!-- company members section START--> */
.testimonial-heading h2 {
    display: grid;
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    text-decoration: underline;
}

.card-1 {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.card-body {
    margin: 0px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 12px;

}

.card-1 div h5 {
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}

.card-1 div p {
    font-family: "Montserrat", sans-serif;
}

/* <!-- company members section end--> */


/* footer START*/
.footer-logo {
    position: relative;
    top: 3rem;
    right: 7rem;
}

.footer {
    height: 21rem;
    background-color: #DBE4EE;
    background-image: conic-gradient(black, #434343, #949494);
    border-radius: 64px;


}

.footer-head {
    color: #F5B700;
    display: inline-block;
    padding-left: 5rem;
    margin-top: 2rem;
    /* font-weight: bold; */
}

.footer-list {
    padding-top: 17px;
    color: #2F2D2E;
}

.google-map {
    position: relative;
    right: -190px;
    top: 30px;
}

.google-map iframe {
    position: relative;
    left: 4rem;
}

.footer-main {
    position: relative;
    left: 2rem;
    display: flex;
    justify-content: center;
    right: -46px;
    width: 78rem;
    padding: 0px 0px;
    gap: 4rem;
}


.aboutus {
    position: relative;
    left: 20px;
}

.contactus {
    position: relative;
    left: 44px;

}

.contactus-list {
    color: white;
}

.services-list {
    color: white;
}

.aboutus-list {
    color: white;
}

.icons {
    display: inline-block;
    position: relative;
    top: 30px;
    padding-left: 4rem;
    font-size: 30px;
}

.socialmedia-icons {
    position: absolute;
    top: 15rem;
    left: 2rem;
}

/* Footer END*/

/* credit section START*/
.credit {
    justify-content: center;
    display: flex;
    font-weight: bold;

}
/* credit section END*/