/* responsive correction START */

.responsive-1-footer {
    display: none;
}

.mdt-brand {
    display: none;
}

/* responsive correction END */
/* media query START  */
@media only screen and (min-width:320px) and (max-width:375px) {

    /* navbar section start  */
    .mid-navbar span {
        font-size: 12px;
        position: absolute;
        right: 232px;
    }

    .mid-navbar {
        text-align: center;
    }

    /* navbar section end */

    /* company member section start  */
    .testimonial-heading h2 {
        font-size: 18px;
        font-weight: bold;
    }

    .card-2nd {
        padding-bottom: 10px;
    }

    .card-1 {
        margin: 16px 15px;
        gap: 9px;
        flex-wrap: wrap;
    }

    .card-body {
        max-width: 15rem;
        max-height: 100%;
    }

    .card-img-top {
        width: 306px;
        max-width: 100%;
    }

    .card-2nd {
        margin: 0px 8px;
    }

    /* company member section end  */

    /* footer section start  */
    .responsive-1-footer {
        margin: 0px 4px;
    }

    /* footer section end */
}

@media only screen and (min-width:375px) and (max-width:425px) {

    /* navbar section start  */
    .mid-navbar span {
        font-size: 12px;
        position: absolute;
        right: 286px;
    }

    .mid-navbar {
        text-align: center;
    }

    /* navbar section end */

    /* company member section start  */
    .testimonial-heading h2 {
        font-size: 18px;
        font-weight: bold;
    }

    .card-2nd {
        padding-bottom: 10px;
    }

    .card-1 {
        margin: 16px 62px;
        gap: 9px;
        flex-wrap: wrap;
    }

    .card-body {
        max-width: 16rem;
        max-height: 100%;
    }

    .card-img-top {
        width: 306px;
        max-width: 100%;
    }

    .card-2nd {
        margin: 0px 8px;
    }

    .card-img-top {
        width: 306px;
    }

    /* company member section end  */

    /* footer section start  */
    .responsive-1-footer {
        margin: 0px 4px;
    }

    /* footer section end */

}

@media only screen and (min-width:425px) and (max-width:576px) {

    /* navbar section start  */
    .mid-navbar span {
        font-size: 12px;
        position: absolute;
        right: 335px;
    }

    .mid-navbar {
        text-align: center;
    }

    /* navbar section end */
    /* company member section start  */
    .testimonial-heading h2 {
        font-size: 18px;
        font-weight: bold;
    }

    .card-2nd {
        padding-bottom: 10px;
    }

    .card-1 {
        margin: 16px 10px;
        gap: 9px;
        flex-wrap: wrap;
    }

    .card-body {
        max-width: 21rem;
        max-height: 100%;
    }

    .card-img-top {
        width: 312px;
        max-width: 100%;
    }

    .card-2nd {
        margin: 0px 8px;
    }

    /* company member section end  */
}

@media only screen and (min-width:576px) and (max-width:768px) {

    /* footer section start */
    .responsive-1-footer {
        margin: 0px 22px;
    }

    .footer-logo img {
        display: none;
    }

    iframe {
        height: 9rem;
        width: 7rem;
        position: relative;
        top: 4rem;
        left: 5rem;
    }

    .footer-main {
        position: relative;
        left: -15rem;
        display: flex;
        justify-content: center;
        right: -61px;
        width: 42rem;
        padding: 0px 0px;
        font-size: 10px;
    }

    .socialmedia-icons {
        position: absolute;
        top: 13rem;
        left: 12rem;
    }

    .contactus {
        position: relative;
        left: 123px;
        padding-left: 0;
    }

    .aboutus {
        position: relative;
        left: 166px;
    }

    .footer-service {
        position: relative;
        left: 18rem;
        padding-left: 0;
    }

    .footer {
        height: 18rem;
        background-color: #DBE4EE;
        background-image: conic-gradient(black, #434343, #949494);
        border-radius: 64px;
    }

    /* footer section end  */

    /* card section start  */
    .card-1 {
        margin: 16px 4px;
        gap: 9px;
        flex-wrap: wrap;
    }

    .card-body {
        max-width: 16rem;
        max-height: 100%;
    }

    .card-img-top {
        width: 306px;
        max-width: 100%;
    }


    .card-2nd {
        margin: 0px 8px;
        margin-bottom: 11px;
    }

    /* card section end */

}

@media only screen and (min-width:768px) and (max-width:1024px) {

    /* footer section START */
    iframe {
        position: relative;
        top: 5rem;
        left: 2rem;
        height: 12rem;
        width: 7rem;
        border-radius: 12px;
        margin-left: 22px;
    }

    .contactus {
        padding-left: 0px;
        font-size: 14px;
    }

    .contactus .footer-list {
        padding-top: 14px;
    }

    .aboutus {
        padding-left: 0px;
        font-size: 14px;
        padding-right: -17px;
        position: relative;
        left: -5px;
    }

    .footer-service {
        padding-left: 13px;
        font-size: 14px;
        padding-right: 15px;
        position: relative;
        right: 34px;
    }

    .footer-list {
        padding-top: 21px;
    }

    .footer-logo {
        position: relative;
        right: -1rem;
    }

    .footer-logo img {
        height: 8rem;
        position: relative;
        right: 62px;
        margin: 5px 2px;
    }

    .footer-main {
        position: relative;
        left: 2rem;
        display: flex;
        justify-content: center;
        right: -37px;
        width: 43rem;
        padding: 0px 0px;
        gap: 0rem;
    }

    /* footer section END */

    /* card section start  */
    .card-1 {
        margin: 16px 39px;
        gap: 9px;
        flex-wrap: wrap;
    }

    .card-body {
        max-width: 14rem;
        max-height: 100%;
    }

    .card-img-top {
        width: 198px;
    }

    .card-2nd {
        margin: 0px 8px;
        margin-bottom: 11px;
    }

    .medium-screen-remove {
        display: none;
    }

    /* card section end */

    /* mid nav-section start  */
    .mid-navbar span {
        position: relative;
        bottom: 27px;
        left: 29rem;
        font-weight: bold;

    }

    /* mid nav-section end */
}

@media only screen and (min-width:1024px) and (max-width:1440px) {

    /* footer section START */
    .footer-head {
        color: #F5B700;
        display: inline-block;
        padding-left: 0rem;
        margin-top: 2rem;
    }


    iframe {
        width: 14rem;
        position: relative;
        left: 2rem;
        top: 25px;
        border-radius: 18px;
    }


    .socialmedia-icons {
        position: absolute;
        top: 16rem;
        left: 7rem;
    }

    .aboutus {
        padding-right: 2rem;
    }

    .contactus {
        padding-right: 2rem;
    }

    .footer-service {
        padding-right: 2rem;
    }

    .footer-logo {
        position: relative;
        right: 2rem;
    }

    .footer-logo img {
        height: 10rem;
    }

    .footer-main {
        position: relative;
        left: 2rem;
        display: flex;
        justify-content: center;
        right: -37px;
        width: 57rem;
        padding: 0px 0px;
        gap: 1rem;
    }

    /* card section start  */
    .card-1 {
        margin: 16px 20px;
        gap: 7px;
    }

    .card-image-1 {
        width: 51rem;
    }

    .card-2nd {
        margin: 10px 97px;
    }


    .card-image-6 {
        max-width: 100%;
    }

    .card-image-6 img {
        width: 26rem;
        max-width: 100%;
    }

    /* card section end */

}

@media only screen and (min-width:1440px) and (max-width:1920px) {

    /* footer section START */
    iframe {
        width: 14rem;
        position: relative;
        left: 2rem;
        top: 25px;
        border-radius: 18px;
    }

    .footer-main {
        position: relative;
        left: 5rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 75rem;
        padding: 0px 0px;
        gap: 6rem;
    }

    /* footer section END */

    /* card section start  */
    .card-1 {
        margin: 16px 72px;
        gap: 15px;
    }

    .card-image-1 {
        width: 51rem;
    }

    .card-2nd {
        margin: 24px 184px;
    }

    .card-image-6 {
        max-width: 100%;
    }

    .card-image-6 img {
        width: 26rem;
        max-width: 100%;
    }

    /* card section end */

}

@media only screen and (min-width:1920px) and (max-width:2560px) {

    /* footer section START */
    iframe {
        position: relative;
        left: 18rem;
        top: 16px;
        border-radius: 18px;
        height: 17rem;
    }

    .footer-logo img {
        height: 12rem;
        position: relative;
        top: -23px;
        right: 1rem;
        width: 181px;
    }

    .footer-service {
        position: relative;
        right: 6rem;
        padding-left: 0px;
    }

    .footer-head h3 {
        font-size: 42px;
    }

    .aboutus {
        padding-left: 0px;
    }

    .footer-list {
        font-size: 19px;
        padding-top: 0px;
    }

    .footer-main {
        position: relative;
        left: 21rem;
        display: flex;
        justify-content: center;
        right: -37px;
        width: 78rem;
        padding: 0px 0px;
        gap: 1rem;
    }

    .socialmedia-icons {
        position: absolute;
        top: 15rem;
        left: 2rem;
        display: flex;
        gap: 4rem;
    }

    /* footer section END */

    /* company members content section start */
    .card-1 {
        margin: 16px 165px;
        gap: 20px;
    }

    .card-image-1 {
        width: 51rem;
    }

    .card-2nd {
        margin: 24px 359px;
    }

    .card-image-6 {
        max-width: 100%;
    }

    .card-image-6 img {
        width: 26rem;
        max-width: 100%;
    }

    /* company members content section end */
}


/* /* media query END */

/* media query start with 100px difference  */

/* footer section start */

@media only screen and (max-width:375px) {
    .footer-main {
        display: none;
    }

    .responsive-1-footer {
        display: flex;
        position: relative;
        left: 0px;
        top: 56px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3px;

    }

    .responsive-1-footer span a {
        color: rgb(1, 1, 1);
        font-weight: bold;

    }

    .footer {
        height: 12rem;
        background-image: conic-gradient(#f2f2f2, #434343, #949494);
    }

    .mdt-brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        top: 69px;
        gap: 8px;

    }

    .credit {
        font-size: small;
        justify-content: center;
        display: flex;
        font-weight: bold;
        flex-wrap: wrap;
    }

    .mdt-brand span {
        color: white;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    /* footer section end */
}

@media only screen and (min-width:375px) and (max-width:475px) {

    /* footer section start */
    .footer-main {
        display: none;
    }

    .responsive-1-footer {
        display: flex;
        position: relative;
        left: 0px;
        top: 39px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3px;

    }

    .responsive-1-footer span a {
        color: rgb(1, 1, 1);
        font-weight: bold;

    }

    .footer {
        height: 10rem;
        background-image: conic-gradient(#f2f2f2, #434343, #949494);
    }

    .mdt-brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        top: 53px;
        gap: 8px;

    }

    .mdt-brand span {
        color: white;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    .credit {
        font-size: 12px;
    }

    /* footer section end */
}

@media only screen and (min-width:475px) and (max-width:575px) {

    /* footer section start */
    .footer-main {
        display: none;
    }

    .responsive-1-footer {
        display: flex;
        position: relative;
        left: 0px;
        top: 39px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3px;

    }

    .responsive-1-footer span a {
        color: rgb(1, 1, 1);
        font-weight: bold;

    }

    .footer {
        height: 10rem;
        background-image: conic-gradient(#f2f2f2, #434343, #949494);
    }

    .mdt-brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        top: 53px;
        gap: 8px;

    }

    .mdt-brand span {
        color: white;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    .credit {
        font-size: 12px;
    }

    /* footer section end */
}

@media only screen and (min-width:575px) and (max-width:675px) {

    /* footer section start */
    .footer-main {
        display: none;
    }

    .responsive-1-footer {
        display: flex;
        position: relative;
        left: 0px;
        top: 39px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3px;

    }

    .responsive-1-footer span a {
        color: rgb(1, 1, 1);
        font-weight: bold;

    }

    .footer {
        height: 10rem;
        background-image: conic-gradient(#f2f2f2, #434343, #949494);
    }

    .mdt-brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        top: 53px;
        gap: 8px;

    }

    .mdt-brand span {
        color: white;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    .credit {
        font-size: 12px;
    }

    /* footer section end */
}

@media only screen and (min-width:675px) and (max-width:775px) {

    /* footer section start */
    .footer-main {
        display: none;
    }

    .responsive-1-footer {
        display: flex;
        position: relative;
        left: 0px;
        top: 39px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3px;

    }

    .responsive-1-footer span a {
        color: rgb(1, 1, 1);
        font-weight: bold;

    }

    .footer {
        height: 10rem;
        background-image: conic-gradient(#f2f2f2, #434343, #949494);
    }

    .mdt-brand {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        top: 53px;
        gap: 8px;

    }

    .mdt-brand span {
        color: white;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    .credit {
        font-size: 12px;
    }

    /* footer section end */
}

@media only screen and (min-width:775px) and (max-width:875px) {

    /* footer section start  */
    iframe {
        position: relative;
        top: 5rem;
        left: 2rem;
        height: 12rem;
        width: 7rem;
        border-radius: 12px;
    }

    .contactus {
        padding-left: 0px;
        font-size: 14px;
    }

    .contactus .footer-list {
        padding-top: 14px;
    }

    .aboutus {
        padding-left: 0px;
        font-size: 14px;
        padding-right: -17px;
        position: relative;
        left: -5px;
    }

    .footer-service {
        padding-left: 13px;
        font-size: 14px;
        padding-right: 15px;
        position: relative;
        right: 34px;
    }

    .footer-list {
        padding-top: 21px;
    }

    .footer-logo {
        position: relative;
        right: -1rem;
    }

    .footer-logo img {
        height: 8rem;
        position: relative;
        right: 62px;
        margin: 5px 2px;
    }

    .footer-main {
        position: relative;
        left: 3rem;
        display: flex;
        justify-content: center;
        right: -92px;
        width: 43rem;
        padding: 0px 0px;
        gap: 1rem;
        gap: 1rem;
    }
}

@media only screen and (min-width:875px) and (max-width:975px) {

    /* footer section start  */
    iframe {
        position: relative;
        top: 5rem;
        left: 2rem;
        height: 12rem;
        width: 7rem;
        border-radius: 12px;
    }

    .contactus {
        padding-left: 0px;
        font-size: 14px;
    }

    .contactus .footer-list {
        padding-top: 14px;
    }

    .aboutus {
        padding-left: 0px;
        font-size: 14px;
        padding-right: -17px;
        position: relative;
        left: -5px;
    }

    .footer-service {
        padding-left: 13px;
        font-size: 14px;
        padding-right: 15px;
        position: relative;
        right: 34px;
    }

    .footer-list {
        padding-top: 21px;
    }

    .footer-logo {
        position: relative;
        right: -1rem;
    }

    .footer-logo img {
        height: 8rem;
        position: relative;
        right: 62px;
        margin: 5px 2px;
    }

    .footer-main {
        position: relative;
        left: 1rem;
        display: flex;
        justify-content: center;
        right: -92px;
        width: 54rem;
        padding: 0px 0px;
        gap: 1rem;
        gap: 2rem;
    }
}

@media only screen and (min-width:975px) and (max-width:1075px) {

    /* footer section start  */
    iframe {
        position: relative;
        top: 5rem;
        left: 1rem;
        height: 12rem;
        width: 12rem;
        border-radius: 12px;
    }

    .contactus {
        padding-left: 0px;
        font-size: 14px;
    }

    .contactus .footer-list {
        padding-top: 14px;
    }

    .aboutus {
        padding-left: 0px;
        font-size: 14px;
        padding-right: -17px;
        position: relative;
        left: -5px;
    }

    .footer-service {
        padding-left: 13px;
        font-size: 14px;
        padding-right: 15px;
        position: relative;
        right: 34px;
    }

    .footer-list {
        padding-top: 21px;
    }

    .footer-logo {
        position: relative;
        right: -1rem;
    }

    .footer-logo img {
        height: 8rem;
        position: relative;
        right: 62px;
        margin: 5px 2px;
    }

    .footer-main {
        position: relative;
        left: 5rem;
        display: flex;
        justify-content: center;
        right: -92px;
        width: 56rem;
        padding: 0px 0px;
        gap: 1rem;
        gap: 2rem;
    }
}

@media only screen and (min-width:1075px) and (max-width:1175px) {

    /* footer section start  */
    .footer-main {
        position: relative;
        left: 2rem;
        display: flex;
        justify-content: center;
        right: -37px;
        width: 62rem;
        padding: 0px 0px;
        gap: 2rem;
    }

    iframe {
        width: 14rem;
        position: relative;
        left: 3rem;
        top: 25px;
        border-radius: 18px;
    }
}

@media only screen and (min-width:1175px) and (max-width:1275px) {

    /* footer section start  */
    .footer-main {
        position: relative;
        left: 6rem;
        display: flex;
        justify-content: center;
        right: -37px;
        width: 61rem;
        padding: 0px 0px;
        gap: 2rem;
    }
}


@media only screen and (min-width:1275px) and (max-width:1375px) {

    /* footer section start  */
    .footer-main {
        position: relative;
        left: 5rem;
        display: flex;
        justify-content: center;
        right: -37px;
        width: 69rem;
        padding: 0px 0px;
        gap: 4rem;
    }

    /* card section  start  */
    .card-2nd {
        margin: 10px 134px;
    }

    /* card section  end */
}

@media only screen and (min-width:1375px) and (max-width:1475px) {

    /* footer section start  */
    .footer-main {
        position: relative;
        left: 7rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 75rem;
        padding: 0px 0px;
        gap: 6rem;
    }

    .footer-head {
        padding-left: 0;
    }

    iframe {
        height: 18rem;
        width: 14rem;
        position: relative;
        left: 2rem;
        top: 25px;
        border-radius: 18px;
    }

    /* card section start  */
    .card-2nd {
        margin: 10px 134px;
    }

    /* card section end */
}

@media only screen and (min-width:1475px) and (max-width:1575px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 9rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 78rem;
        padding: 0px 0px;
        gap: 4rem;
    }
}

@media only screen and (min-width:1575px) and (max-width:1675px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 12rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 79rem;
        padding: 0px 0px;
        gap: 5rem;
    }
}

@media only screen and (min-width:1675px) and (max-width:1775px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 12rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 86rem;
        padding: 0px 0px;
        gap: 5rem;
    }

    iframe {
        width: 25rem;
        position: relative;
        left: 2rem;
        top: 25px;
        border-radius: 18px;
    }

    /* card section start  */
    .card-1st {
        margin: 25px 122px;
        gap: 15px;
    }

    .card-2nd {
        margin: 24px 248px;
    }

    /* card section end */
}

@media only screen and (min-width:1775px) and (max-width:1875px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 12rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 94rem;
        padding: 0px 0px;
        gap: 5rem;
    }

    iframe {
        width: 34rem;
        position: relative;
        left: 2rem;
        top: 25px;
        border-radius: 18px;
        height: 18rem;
    }
}

@media only screen and (min-width:1875px) and (max-width:1975px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 12rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 94rem;
        padding: 0px 0px;
        gap: 5rem;
    }

    iframe {
        width: 34rem;
        position: relative;
        left: 2rem;
        top: 25px;
        border-radius: 18px;
        height: 18rem;
    }

}

@media only screen and (min-width:1975px) and (max-width:2075px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 12rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 105rem;
        padding: 0px 0px;
        gap: 5rem;
    }

    iframe {
        width: 36rem;
        position: relative;
        left: 2rem;
        top: 25px;
        border-radius: 18px;
        height: 18rem;
    }
}

@media only screen and (min-width:2075px) and (max-width:2175px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 14rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 106rem;
        padding: 0px 0px;
        gap: 5rem;
    }

    iframe {
        position: relative;
        left: 4rem;
        top: 23px;
        border-radius: 18px;
        height: 17rem;
        width: 53rem;
    }
}


@media only screen and (min-width:2175px) and (max-width:2275px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 16rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 106rem;
        padding: 0px 0px;
        gap: 6rem;
    }

    iframe {
        position: relative;
        left: 4rem;
        top: 23px;
        border-radius: 18px;
        height: 17rem;
        width: 53rem;
    }
}

@media only screen and (min-width:2275px) and (max-width:2375px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 20rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 115rem;
        padding: 0px 0px;
        gap: 6rem;
    }

    iframe {
        position: relative;
        left: 4rem;
        top: 23px;
        border-radius: 18px;
        height: 17rem;
        width: 55rem;
    }
}

@media only screen and (min-width:2375px) and (max-width:2475px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 19rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 119rem;
        padding: 0px 0px;
        gap: 7rem;
    }

    iframe {
        position: relative;
        left: 4rem;
        top: 23px;
        border-radius: 18px;
        height: 17rem;
        width: 56rem;
    }
}

@media only screen and (min-width:2475px) and (max-width:2575px) {

    /* footer section start  */
    .footer-service {
        padding-left: 0;
    }

    .footer-main {
        position: relative;
        left: 11rem;
        display: flex;
        justify-content: center;
        /* right: -37px; */
        width: 123rem;
        padding: 0px 0px;
        gap: 8rem;
    }

    iframe {
        position: relative;
        left: 13rem;
        top: 23px;
        border-radius: 18px;
        height: 17rem;
        width: 56rem;
    }

    .footer-list {
        padding-top: 3px;

        font-size: 22px;
    }
}

/* media query end with 100px difference  END */